* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

a {
    color: #0699A6;
}

ul {
    padding-left: 20px;
}

/* header секция */

header {
    background-color: rgba(158, 140, 108, 0.1);
    clip-path: polygon(0% 0%,100% 0%,100% 85%,0% 100%);
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 4%;
}

.header-wrapper .header-photo {
    margin-top: 180px;
    margin-bottom: 217px;
    display: block;
    margin-left: auto;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 175px;
}

.about-header h5{
    margin-top: 180px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;


    line-height: 113%;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #9E8C6C;
}

.about-header h1 {
    width: 500px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 126px;

    line-height: 95%;
    letter-spacing: -2.17241px;

    color: #000000;
}

.about-header button {
    margin-top: 40px;
    border: none;
    width: 225px;
    height: 60px;
    background-color: #0699A6;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    text-transform: uppercase;

    color: #FFFFFF;
}

/* main секция */

.main-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 4%;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.skills-wrapper section {
    margin-left: auto;
    width: 350px;
    margin-bottom: 100px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #000000;
}

.skills-wrapper h5 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #9E8C6C;
}

.skills-wrapper span {
    display: block;
    margin-top: 20px;
}

.about-wrapper {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

.about-wrapper h2 {
    /*width: 635px;*/
    height: 46px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;

    color: #000000;
}

.about-wrapper section {
    width: 695px;
}

.about-wrapper hr {
    margin-top: 80px;
    margin-bottom: 66px;
    border: none;
    height: 10px;
    width: 70px;
    background-color: #0699A6;
}

.about-wrapper h5 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #9E8C6C;
}

.experience .last-h5 {
    margin-top: 30px;
}

/* footer секция */

footer {
    background-color: rgba(158, 140, 108, 0.1);
    clip-path: polygon(0% 30%,100% 0%,100% 100%,0% 100%);
    color: black;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 547px;
}

.footer-wrapper .email {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;

    color: #0699A6;
    margin: 20px 0 20px 0;
}

.footer-wrapper h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;

    line-height: 95%;
    letter-spacing: -2.17241px;

    color: #000000;
}

.footer-wrapper .social img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.footer-wrapper .social .gh{
    width: 43px;
    height: 43px;
    padding-bottom: 3px;
}

/* adapt секция */

@media(max-width: 1400px) {
    .about-header h1 {
        width: auto;
    }
}

@media(max-width: 1100px) {
    .header-wrapper {
        background: rgba(236, 162, 34, 0.15);
        grid-template-columns: 1fr;
        justify-items: center;
        transition: 0.5s;
    }

    .header-wrapper .header-photo {
        margin: 35px 0 0 0;
        object-fit: cover;
        width: 565px;
        height: 350px;
        border-radius: 175px;
    }

    main {
        padding: 0 8% 0 8%;
    }

    .about-header {
        text-align: center;
        margin-bottom: 100px;
    }

    .about-header h5 {
        margin-top: 0;
    }

    .about-header h1 {
        font-size: 63px;
    }

    .about-header button {
        margin-top: 10px;
    }

    .about-wrapper section {
        width: auto;
    }
}

@media (max-width: 720px) {
    header {
        margin-bottom: 25px;
    }

    .header-wrapper .header-photo {
        margin: 15px 0 0 0;
        width: 350px;
    }

    .about-header button {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .main-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2%;
    }

    .skills-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .skills-wrapper section {
        margin-left: 0;
        width: auto;
        margin-bottom: 30px;
        border: 1px black;
    }

    .skills-wrapper h5 {
        margin-bottom: -15px;
    }

    .footer-wrapper .email {
        font-size: 7vw;
    }
}

@media (max-width: 350px) {
    .header-wrapper .header-photo {
        height: 250px;
        width: 250px;
    }

    .about-header h1 {
        font-size: 49px;
    }
}
